.body {
  background: #eaeded;
}
.post-container {
  margin: 20px 20px 0 0;
  overflow: auto;
}
.post-thumb {
  float: left;
}
.post-thumb img {
  display: block;
  width: 400px;
}
.post-content {
  float: left;
  text-align: center;
}
.post-title {
  padding-top: 50px;
}

.post-container {
  margin: 10px;
  padding: 15px;
  background-color: #ffffff;
}
